.portfolio{
    margin-top: 43px;
    margin-bottom: 36px;
    width: 100%;

    &__header{
        width: 100%;
        display: flex;
        justify-content: center;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1.8em;
        color: var(--customtext, black);
        padding-bottom: 20px;
    }
    
}

.portfolio-items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 346px 345px;
    position: relative;
    z-index: 3;
}

.library{
   /* background-image: url("../../images/library.png"); 
   jakbym szukał w przyszłości rozwiązania - linki do obrazków muszą być takie, jakby były z głównego stylu.css
   (jest tak tylko przy webpacku)*/
    background-image: url("../assets/library.png"); 
    background-repeat: no-repeat;
    background-size: cover;
    grid-column: 6/9;
    grid-row: 1;
    position: relative;
    opacity: 0;
    transform: translateX(-50px);
    transition: 1s;
}


.bookSearching{
    background-color: #1f2427;
    grid-column: 1/4;
    grid-row: 1;
  /*  background-image: url("../../images/bookSearching.png"); */
    background-image: url("../assets/book-searching.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0;
    transform: translateX(50px);
    transition: 1s;
}


.caveral{
    //background-color: #192a56;
    background-color: white;
    grid-column: 4/6;
    grid-row: 1;
 /*   background-image: url("../../images/stopwatch.png"); */
    background-image: url("../assets/caveralLarge.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0;
    transform: translateY(50px);
    transition: 1s;
}



.starWars{
    background-color:#2ecc71;
    grid-column: 1/5;
    grid-row: 2;
  /*  background-image: url("../../images/star_wars.png"); */
    background-image: url("../assets/star_wars.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0;
    transform: translateX(50px);
    transition: 1s;
}


.zonex{
    background-color: blue;
    grid-column: 5/9;
    grid-row: 2;
    /*background-image: url("../../images/zonex.png"); */
    background-image: url("../assets/zonex.png"); 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0;
    transform: translateX(-50px);
    transition: 1s;
}

.portfolio-item:hover .portfolio-hover{
    opacity: 1;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 154, 61, 0.5) 100%);
}


.portfolio-hover{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 0;
    opacity: 0;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    transition: .5s;

    &__paragraph{
        word-wrap: break-word; 
        color: #ffffff;
        font-size: 0.9em;
        line-height: 19px;
        letter-spacing: 0.02em;
        padding-left: 36px;
    }
} 


.portfolio-description{
    margin-top: 2rem;
}
.portfolio-footer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /*background-color: #515151; */
    background-color: var(--contactorange, orange);
    justify-content: space-between;

    &__header{
        color: white;
        font-size: 1.5em;
        padding: 10px 15px;
        transition: .5s;
    }
}


.portfolio-buttons{
    width: 30%;
    display: flex;
    justify-content: flex-end;

    &__link{
        color: white;
        font-size: 1.5em;
        padding: 10px 15px;
        transition: .3s;
    
        &:hover{
            transform: translateY(-4px);
        }
    }
}

.portfolio-more{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1em;
}


.button-portfolio{
    width: 100%;
    display: flex;
    justify-content: center;
}

.portfolio-more__button{
    background: linear-gradient(270deg, #FFC53D 14%, #FF9A3D 68.5%);
    text-decoration: none;
    font-size: 1em;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    margin: 10px 40px;
    width: 200px;
    padding: 15px 0px 15px;
    text-align: center;
    cursor: pointer;
    position: relative;
}

.portfolio-more__button::before{
    content: 'More';
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--ornaments, orange);
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    opacity: 0;
    border: 1px solid var(--ornaments, orange);
    border-radius: 15px;
    background: white;
}

.portfolio-more__button:hover::before, .portfolio-more__button:focus::before{
    animation: btn-more 1s forwards;
}

.portfolio-items-more{
    width: 100%;
    display: none;
    opacity: 0;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.show-more-items{
    display: flex;
    animation: show-more 1s forwards;
}

@keyframes show-more{
    10%{
        transform: translateY(-1000px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.portfolio-more-details{
    background-size: cover;
    width: 50%;
    height: 300px;
    position: relative;
}

.markDown{
    background-image: url("../assets/markDown.png");
    @extend .portfolio-more-details;
}

.quoteMachine{
    background-image: url("../assets/quoteMachine.png");
    @extend .portfolio-more-details;
}

.toDoList{
    background-image: url("../assets/toDoList.png");
    @extend .portfolio-more-details;
}

.drumMachine{
    background-image: url("../assets/drum_machine.png");
    @extend .portfolio-more-details;
}

.firstAid{
    background-image: url("../assets/wyleczto.png");
    @extend .portfolio-more-details;
}

.calc{
    background-image: url("../assets/calc.png");
    @extend .portfolio-more-details;
}

.stopwatch{
    background-image: url("../assets/stopwatch.png"); 
    @extend .portfolio-more-details;
}

@keyframes btn-more {
    100% {
      opacity: 1;
    }
  }

@media (min-width: 1px) and (max-width: 480px) {
    .portfolio-items{
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
    .library{
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        transform: translateX(-50px);
    }
    .bookSearching{
        width: 100%;
        grid-column: 1;
        grid-row: 2;
        transform: translateX(-50px);
    }
    .starWars{
        width: 100%;
        grid-column: 1;
        grid-row: 3;
        transform: translateX(-50px);
    }
    .caveral{
        width: 100%;
        grid-column: 1;
        grid-row: 4;
        transform: translateX(-50px);
    }
    .zonex{
        width: 100%;
        grid-column: 1;
        grid-row: 5;
        transform: translateX(-50px);
    }
    .portfolio-hover{
        opacity: 1;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 154, 61, 0.5) 100%);

        &__header{
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2em;
            padding: 8px 0px 8px 10px;
        }

        &__paragraph{
            padding-left: 10px;
        }

        &__live, &__code{
            margin: 10px 20px;
            width: 130px;
        }
    }
    .portfolio{
        margin-bottom: 62px;
    }
    .portfolio-more-details{
        width: 100%;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .portfolio-items{
        grid-template-columns: 100%;
        grid-template-rows: 300px 300px 300px 300px 300px;
    }
    .library{
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        transform: translateX(-50px);
    }
    .bookSearching{
        width: 100%;
        grid-column: 1;
        grid-row: 2;
        transform: translateX(-50px);
    }
    .starWars{
        width: 100%;
        grid-column: 1;
        grid-row: 3;
        transform: translateX(-50px);
    }
    .caveral{
        width: 100%;
        grid-column: 1;
        grid-row: 4;
        transform: translateX(-50px);
    }
    .zonex{
        width: 100%;
        grid-column: 1;
        grid-row: 5;
        transform: translateX(-50px);
    }

    .portfolio-hover{
        opacity: 1;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.9) 0%, rgba(255, 154, 61, 0.5) 100%);

        &__header{
            color: #ffffff;
            font-weight: 700;
            font-size: 1.2em;
            padding: 8px 0px 8px 10px;
        }

        &__paragraph{
            padding-left: 10px;
        }

        &__live, &__code{
            margin: 10px 20px;
            width: 130px;
        }
    }

    .stopwatch-hover__live, .stopwatch-hover__code{
        font-size: 1em;
        font-weight: 700;
        margin: 10px 20px;
        width: 130px;
        padding: 15px 0px 15px;
        margin-bottom: 1em;
    }
    .portfolio{
        margin-bottom: 62px;
    }
    .portfolio-more-details{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1024px){
    .portfolio-items{
        grid-template-columns: 100%;
        grid-template-rows: 360px 360px 360px 360px 360px;
    }
    .library{
        width: 100%;
        grid-column: 1;
        grid-row: 1;
        transform: translateX(-50px);
    }
    .bookSearching{
        width: 100%;
        grid-column: 1;
        grid-row: 2;
        transform: translateX(-50px);
    }
    .starWars{
        width: 100%;
        grid-column: 1;
        grid-row: 3;
        transform: translateX(-50px);
    }
    .caveral{
        width: 100%;
        grid-column: 1;
        grid-row: 4;
        transform: translateX(-50px);
    }
    .zonex{
        width: 100%;
        grid-column: 1;
        grid-row: 5;
        transform: translateX(-50px);
    }
    .portfolio-more-details{
        width: 100%;
    }
}

@media (min-width: 769px) and (max-width: 1350px){
    .stopwatch-footer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__header{
            width: 100%;
            display: flex;
            justify-content: center;
        }
    }
    .stopwatch-buttons{
        width: 100%;
        display: flex;
        justify-content: center;
    }
}


.activeFirst{
    opacity: 1;
    transform: translateX(0px);
} 

.activeSecond{
    opacity: 1;
    transform: translateX(0px);
} 

.activeThird{
    opacity: 1;
    transform: translateY(0px);
}

.activeFourth{
    opacity: 1;
    transform: translateX(0px);
}

.activeFifth{
    opacity: 1;
    transform: translateX(0px);
}