.navigation{
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    color: var(--blacktext, black);
    width: 100%;
    max-width: 100%;
    padding: 15px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2rem;
    z-index: 99;
    transition: 0.5s;
}

.menu-btn{
    position: relative;
    display: none;
    justify-content: center;
    width: 40px;
    height: 30px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn__burger{
    position: absolute;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: var(--blacktext, black);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after{
    content: '';
    position: absolute;
    left: 0px;
    height: 3px;
    background-color: var(--blacktext, black);
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn__burger::after{
    top: 10px;
    width: 15px;
}
.menu-btn__burger::before{
    top: 20px;
    width: 30px;
}
.menu-btn.open .menu-btn__burger{
    width: 0px;
    background-color: inherit;
}
.menu-btn.open .menu-btn__burger::before{
    transform: rotate(45deg);
    top: 10px;
    left: 0px;
}

.menu-btn.open .menu-btn__burger::after{
    width: 30px;
    transform: rotate(-45deg);
    top: 10px;
    left: 0px;
}

.navigation__items{
    display: flex;
    order: 2;
    padding: 0 5px;
    list-style: none;
}
.navigation__item{
    padding: 0 15px;
    position: relative;
}
.navigation__item::after{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 0px;
    height: 2px;
    background-color: var(--ornaments, orange);
    transition: width .5s;
}

.navigation__item:hover::after{
    width: 100%;
}
.navigation__link{
    color: var(--blacktext, black);
    text-decoration: none;
    transition: .5s;
}
.navigation__link:hover{
    color: var(--ornaments, orange);
}
.logo{
    justify-self: self-start;
    padding: 0 5px;
}

.logo__link{
    color: var(--blacktext, black);
    text-decoration: none;
}

@media (min-width: 1px) and (max-width: 480px) {
    .menu-btn{
        display: flex;
    }
    .navigation__items{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navigation__items.active{
        display: flex;
    }
}

@media (min-width: 481px) and (max-width: 768px){
    .menu-btn{
        display: flex;
    }
    .navigation__items{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navigation__items.active{
        display: flex;
    }
}